/* styles_details.css */
*{
    margin :0;
  }

body {
    background-image: url(gambar/tile_background.png);
    background-color: #f5e7e7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  header {
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: #00ccff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    width: 300px;
    height: 100px;
    border-radius: 5% 5%;

  }

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #7e7e7e8a;
    box-shadow: 0 0 10px rgba(242, 241, 241, 0.5);
    border-radius: 10px;
}

h1 {
    color: #000000;
  }

.merah {
    border: 3px;
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
}
.user-detail {
   background-color: #ff0000; 
}

.user-detail h2 {
    color: #d32f2f; 
 }

.user-table {
    border: 3px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eceaea;
}

.user-table th {
    background-color: #1d9485;
    color: #ffffff;
}

.user-table tr:nth-child(1) {
    background-color: #f6f6f6;
}
.user-table tr:nth-child(2) {
  background-color: #ffffff;
}
.user-table tr:nth-child(3) {
  background-color: #f6f6f6;
}
.user-table tr:nth-child(4) {
  background-color: #ffffff;
}
.user-table tr:nth-child(5) {
  background-color: #f6f6f6;
}
.user-table tr:nth-child(6) {
  background-color: #ffffff;
}
.user-table tr:nth-child(7) {
  background-color: #f6f6f6;
}

footer {
    background-color: #000000;
    color: #00ccff;
    text-align: center;
    padding: 10px;
}
/*delete user*/
.delete-button {
  display: inline-block;
  padding: 10px 10px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  transition: background-color 0.3s;
  margin-left: 550px;
}

/* Style for the Logout button on hover */
.delete-button:hover {
  background-color: #c40000; 
}

/* Additional styles for consistency with styles_user_1.css */
.return-button {
    background-color: #1d9485;
    color: rgb(253, 253, 253);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.return-button:hover {
    background-color: #BCBCBC;
}

/* Additional styles for consistency with styles_user_1.css */
.renew-button {
  display: inline-block;
  padding: 10px 10px;
  background-color: #1d9485;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  transition: background-color 0.3s;
  margin-left: 10px;
}

/* Style for the Logout button on hover */
.renew-button:hover {
  background-color: #BCBCBC; 
}

 /* Style for the Logout button */
 .logout-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s;
  }
  
  /* Style for the Logout button on hover */
  .logout-button:hover {
    background-color: #c40000; 
  }

  .lol {
    display: flex;
  }