*{
  margin :0;
}
/* CSS in admin 1*/
header {
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: #00ccff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 300px;
  height: 100px;
  border-radius: 5% 5%;

}

  body {
    background-image: url(gambar/tile_background.png);
    background-color: #f5e7e7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

.pad {
  background-color: #ffffffa4;
  border: 1px solid #ffffff;
  border-radius: 12px;
}

.pad2 {
  border-radius: 32px;
  border: 1px solid #ffffff;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.pad2 {
  background-color: rgba(184, 184, 184, 0.6);
}

table {
  width: 80%; 
  border-collapse: collapse; 
  margin: 20px auto; 
  background-color: #f5f5f5; 
}

/* CSS for table headers */
table th {
  background-color: #1d9485; 
  color: white; 
  padding: 10px; 
  text-align: left; 
}

/* CSS for table rows */
table td {
  border: 1px solid #ddd;
  padding: 8px; 
}

/* CSS for the navigation links (Manage Users, Add Users) */
nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
}

nav ul li {
  display: inline;
  /* Add spacing between navigation links */
  margin-right: 20px; 
}

nav ul li a {
  text-decoration: none; 
  color: #ffffff; 
  font-weight: bold;
}

/* CSS for the "Logout" link in the footer */
footer a {
  text-decoration: none; 
  color: #53575a; 
  font-weight: bold;
}

/* CSS for the buttons */
.button {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #1d9485; 
  color: white; 
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  margin-right: 10px; 
}

.buton {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #1d9485; 
  color: white; 
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  margin-left: 10px; 
}


/* CSS for button colors (Manage Users, Add Users) */
.manage-button {
  background-color: #1d9485;
}

.add-button {
  background-color: #1d9485; 
}

/* CSS for button colors (Logout) */
.logout-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Style for the Logout button on hover */
.logout-button:hover {
  background-color: #c40000; 
}
/* Style for the delete button */
.delete-button {
  background-color: #ff0000; 
  color: #ffffff; 
  border: none;
  cursor: pointer; 
  text-decoration: none; 
  padding: 5px 10px; 
}

/* Style for the delete button on hover */
.delete-button:hover {
  background-color: #cc0000; 
}

h1 {
    color: #000000;
  }