/* styles_register_admin.css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(gambar/tile_background.png);
    background-color: #f5e7e7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

header {
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: #00ccff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    width: 300px;
    height: 100px;
    border-radius: 5% 5%;

  }

  h1 {
    color: #000000;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold;
  }

/* CSS for the buttons */
.button {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #1d9485; 
    color: white; 
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    margin-right: 10px; 
  }

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pad {
  background-color: #ffffffa4;
  border: 1px solid #ffffff;
  border-radius: 12px;
}

  .pad2 {
    border-radius: 32px;
    border: 1px solid #ffffff;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 300px;
  }

  div.pad2 {
    background-color: rgba(184, 184, 184, 0.6);
  }


h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 580px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1d9485;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.register-button:hover {
    background-color: #555;
}

.button {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #1d9485; 
  color: white; 
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
}

/* Style for the Logout button */
.logout-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  /* Style for the Logout button on hover */
  .logout-button:hover {
    background-color: #c40000; 
  }

.error-box {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success-box {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
